body{
    /* border: 1px solid red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("background.jpg");
    background-repeat: repeat;
    animation: back 4s linear infinite;
}
@keyframes back{
    0%{
        background-position:0;
     }
    100%{
         background-position: 100%;
    }
}
.bird_parent{
    width: 100%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.child1{
    position: absolute;
    width: 10%;
    height: 8%;
    /* border: 1px solid red; */
}
img{
    position: relative;
    width: 90%;
    height: 90%;
}
.phole{
    position: absolute;
    width: 10%;
    height: 90%;
    /* border: 1px solid red; */
    left: 90%;
    background-color: rgba(219, 11, 39, 0.822);
    animation: sai 4s linear infinite;
}
.hole{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: rgba(242, 245, 248, 0.659);
    backdrop-filter:calc(rgba(238, 235, 235, 0.279));
}
@keyframes sai{
    0%{
        left: 90%;
    }
    100%{
        left: 0;
    }
}
.diredctions{
    position: absolute;
    height: 10%;
    width: 100%;
    /* border: 1px solid red; */
    top: 85%;
    display: flex;
    justify-content: space-between;
}
.diredctions div{
    width: 10%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.up:hover,.down:hover{
    transform-origin: 90px;
    transform:translateY(20px);
    cursor: pointer;
}
.bird{
    position: absolute;
    width: 100%;
    height: 100%;
}
.body.one .bird_parent{
    display: none;
}
.body.one {
    background: rgba(135, 225, 235, 0.647);
}
.level_score{
    background-color: rgba(0, 255, 255, 0.336);
    width: 40%;
    height: 40%;
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    display: none;
}
.level_score img{
    position: relative;
    left: 35%;
    width: 30%;
    height: 30%;
    /* left: 30%; */
}
.alert{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 60%;
}
.body.one .level_score{
    display: block;
}
.val{
    position: relative;
    top: 30%;
}
button{
    background-color: blue;
    color: aliceblue;
}